.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 103px;
    background-color: #f7cbca;
}

.h1 {
    font-size: 80px;
    margin: 15px 0;
    color: #26425A;
}
